<%= form_with model: @movie, local:true do |form| %>

<p>
<%= form.label :name %><br>
<%= form.text_field :name, {class: "form-control"} %>
</p>

<p>
<%= form.label :url %><br>
<%= form.text_field :url, {class: "form-control"} %>
</p>
<p>
<%= form.label :description %><br>
<%= form.text_area :description, {class: "form-control"} %>
</p>
<p>
 <%= form.submit %>
</p>
<% end %>

