
    <%= link_to 'Back', movies_path, { :class=>"btn btn-primary btn-sm active" }%>
<div class="jumbotron">
    <h1><%= @movie.name %></h1>
<div class="video">
<iframe width="560" height="315" src="<%= @movie.url %>" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>
<br>
    <p><%= @movie.description %></p>
</div>

<h2>Comments</h2>
<%= render @movie.comments %>

<h2>Add a comment</h2>
<%= render 'comments/form' %>


