<!DOCTYPE html>
<html>
  <head>
    <title>MovieReviews</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if logged_in? %>
  <nav class="navbar navbar-dark bg-light">
  Welcome, <%= current_user.name %> - 
  <%= link_to "Sign Out", logout_path, {method: 'delete'} %>
    </nav>
  <% end %>


  <div class="container">
    <%= yield %>
    </div>
  </body>
</html>
